p{
	color: blue;
	background-color: yellow;
	text-align: right;
	line-height: 3px;
	letter-spacing: 3px;
	word-spacing: 5px;
	text-indent: 30px;
}

h1{
	font-family: serif;
	background-image: url(sobre-background.jpg);

}
h2{
	font-family: sans-serif;
}
h3{
	font-family: monospace;
}
body{
	font-family: "Arial", "Helvetica", sans-serif;
	border-color: red;
	border-style: solid;
	border-width: 1px;
}
